.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.header-left{
    display: flex;
    align-items: center;
}
.sideBar-icon{
    height: 1.6rem;
}
.sideBar-icon:hover{
    cursor: pointer;
}
.youtube-icon{
    height: 4rem;
}

.header-center{
    display: flex;
    align-items: center;
}
.search-input{
    font-size: small;
    padding: 0.2rem 1rem;
    width: 8rem;
    border: 1px solid gray;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.search-input:focus{
    outline: none;
    border: 1px solid rgb(49, 170, 211);
    box-shadow: 0 0 2px #719ECE;
}
.search-btn{
    padding: .18rem .5rem;
    border: 1px solid gray;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.search-btn:hover{
    background-color: lightgray
}
.suggestions{
    position: fixed;
    background-color: white;
    width: 26rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px gray;
    text-align: left;
    margin: .2rem 0.5rem;
    padding: .8rem 0rem;
}
.suggestion-list{
    display: flex;
    flex-direction: column;
    padding: .3rem 1rem;
    color: black;
    text-decoration: none;
    cursor: default;
}
.suggestion-list:hover{
    background-color: rgb(240, 238, 238);
}

.user-icon{
    height: 2rem;
}

@media screen and (min-width: 768px) { 
    .search-input{
    width: 20rem;
    font-size:medium;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    }
    .search-btn{
        padding: .55rem .8rem;
        border: 1px solid gray;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}
   
@media screen and (min-width: 1024px) { 
    .search-input{
        width: 25rem;
        font-size:medium;
        padding: 0.5rem 1rem;
        border: 1px solid gray;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }
    .search-btn{
        padding: .55rem .8rem;
        border: 1px solid gray;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}